@using Instagram.Data
@model InstagramModel

<div class="container">
    <form asp-controller="Home" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <!-- Aggiungi un campo nascosto per l'ID dell'utente -->
        

        <div class="mb-3">
            <strong>Titolo</strong>
            <input asp-for="Post.Titolo" class="d-block w-100" />
            <span class="text-danger" asp-validation-for="Post.Titolo"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione</strong>
            <input asp-for="Post.Descrizione" class="d-block w-100" />
            <span class="text-danger" asp-validation-for="Post.Descrizione"></span>
        </div>
        <div class="form-field">
            
            <label asp-for="@Model.ImgFile">Image file</label>
            <input type="file" asp-for="@Model.ImgFile" />
        </div>
        <div class="mb-3">
            <label asp-for="Post.Visible" class="form-label"><strong>Visibile</strong></label>
            <input asp-for="Post.Visible" class="form-check-input" type="checkbox" />
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Post Inserito">
        </div>
    </form>
</div>
<a href="@Url.Action("Index", "Home")">Torna in Home </a>

