/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.rettangolo {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 100%;
    margin: 0 0 10px;
    flex-shrink: 0;
    max-width: 350px;
    margin: 0 auto;
}
.contenitoreloggo {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    height: 120px; /* Imposta l'altezza del contenitore, opzionale se vuoi centrare verticalmente */
}

.logo {
    width: 300px; /* Imposta la larghezza */
    height: 100px; /* Imposta l'altezza */
    object-fit: contain; /* Mantiene il rapporto d'aspetto dell'immagine all'interno delle dimensioni specificate */
}


